  <div class="alles">
    <div class="head">
      <h1>Sending an email</h1>
    </div>
    <div class="inhoud">
      <div class="left">

        <p>First Name</p>
        <input type="text" name="" value="" placeholder="John">

        <p>Last Name</p>
        <input type="text" name="" value="" placeholder="Johnson">

      </div>

      <div class="right">
        <p>Phone number</p>
        <input type="number" name="" value="" placeholder="+31-0612345678">

        <p>Email address</p>
        <input type="text" name="" value="" placeholder="help@gmail.com">
        <br>

      </div>
    </div>
    <div class="error" id="error">
      'no work'
    </div>
    <div class="buttons">
      <button type="button" name="button" class="butNo" onclick="reload()">cancel</button>
      <button type="button" name="button" class="butYes" onclick="send()">continue</button>
    </div>
  </div>
<script src="js/form.js"></script>
