.infoTitle {
  text-align: center;
  font-family: sans-serif;
}

.infoImg {
  float: left;
  margin-left: 40px;
  margin-right: 30px;
}

.infoText {
  font-family: sans-serif;
  font-size: 17px;
  margin-left: 30px;
  margin-bottom: 5em;
}
